node-red/node-red.txt
[{"id":"cde5de6a.58748","type":"mqtt in","z":"e863b4e0.b9d5c","name":"plantsensor","topic":"#","qos":"2","broker":"181ae74.b68ae19","x":708,"y":661,"wires":[["f7275cb4.d2a3a8"]]},{"id":"f7275cb4.d2a3a8","type":"debug","z":"e863b4e0.b9d5c","name":"debug all","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":701,"y":621,"wires":[]},{"id":"2ea4e723.d0e2a","type":"mqtt in","z":"e863b4e0.b9d5c","name":"plantsensor - humidity","topic":"bodemvochtsensor/devices/bodemvocht02/up/humidity","qos":"2","broker":"181ae74.b68ae19","x":725,"y":540,"wires":[["1520844d.d6b76c","f5db674.80b3918","64cd2ae9.81a07c","3c54b8ac.00ecf","5c95aa43.da1764"]]},{"id":"1520844d.d6b76c","type":"debug","z":"e863b4e0.b9d5c","name":"debug vochtigheid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":714,"y":505,"wires":[]},{"id":"5089d95c.e0f3b","type":"mqtt in","z":"e863b4e0.b9d5c","name":"plantsensor - temperature","topic":"bodemvochtsensor/devices/bodemvocht02/up/temperature","qos":"2","broker":"181ae74.b68ae19","x":734,"y":407,"wires":[["775a333a.b5fc0c","42869a9b.7f2edc","ab28f50e.4164b8","d3d8638b.e55b3","a9a7cdfa.78c26"]]},{"id":"775a333a.b5fc0c","type":"debug","z":"e863b4e0.b9d5c","name":"debug temperatuur","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":713,"y":377,"wires":[]},{"id":"d84a9686.b425c8","type":"mqtt in","z":"e863b4e0.b9d5c","name":"plantsensor - water","topic":"bodemvochtsensor/devices/bodemvocht02/up/water","qos":"2","broker":"181ae74.b68ae19","x":715,"y":316,"wires":[["beabb2a7.1c0c08","2251b291.0baf76","b6a4e074.6d1568","eed538cc.9904a8","6df8e58c.761c24"]]},{"id":"beabb2a7.1c0c08","type":"debug","z":"e863b4e0.b9d5c","name":"debug water","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":695,"y":280,"wires":[]},{"id":"2251b291.0baf76","type":"average-bars","z":"e863b4e0.b9d5c","name":"average-bars","title":"","period":"day","yMin":"auto","yMax":"auto","showBarsValue":true,"showScaleValue":true,"showLastValue":true,"showAverageValue":true,"showMinimumValue":true,"showMaximumValue":true,"maxBar":30,"topColor":"#FF0000","bottomColor":"#FFFF00","unit":"","fontColor":"#AAAAAA","barStyle":"Rectangle","decimal":1,"x":889.5,"y":238,"wires":[["6df8e58c.761c24"]]},{"id":"b6a4e074.6d1568","type":"sum-bars","z":"e863b4e0.b9d5c","name":"sum-bars","title":"","period":"day","yMin":"auto","yMax":"auto","showBarsValue":true,"showScaleValue":true,"showSumValue":true,"maxBar":30,"topColor":"#FF0000","bottomColor":"#FFFF00","unit":"","fontColor":"#AAAAAA","barStyle":"Rectangle","decimal":1,"x":888.5,"y":277,"wires":[["6df8e58c.761c24"]]},{"id":"6df8e58c.761c24","type":"ui_chart","z":"e863b4e0.b9d5c","name":"","group":"d5538aec.7b8e9","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":1095.5,"y":237,"wires":[[],[]]},{"id":"eed538cc.9904a8","type":"ui_gauge","z":"e863b4e0.b9d5c","name":"","group":"d5538aec.7b8e9","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":1095.5,"y":316,"wires":[]},{"id":"42869a9b.7f2edc","type":"average-bars","z":"e863b4e0.b9d5c","name":"average-bars","title":"","period":"day","yMin":"auto","yMax":"auto","showBarsValue":true,"showScaleValue":true,"showLastValue":true,"showAverageValue":true,"showMinimumValue":true,"showMaximumValue":true,"maxBar":30,"topColor":"#FF0000","bottomColor":"#FFFF00","unit":"","fontColor":"#AAAAAA","barStyle":"Rectangle","decimal":1,"x":940,"y":364,"wires":[["d3d8638b.e55b3"]]},{"id":"ab28f50e.4164b8","type":"sum-bars","z":"e863b4e0.b9d5c","name":"sum-bars","title":"","period":"day","yMin":"auto","yMax":"auto","showBarsValue":true,"showScaleValue":true,"showSumValue":true,"maxBar":30,"topColor":"#FF0000","bottomColor":"#FFFF00","unit":"","fontColor":"#AAAAAA","barStyle":"Rectangle","decimal":1,"x":939,"y":403,"wires":[["d3d8638b.e55b3"]]},{"id":"d3d8638b.e55b3","type":"ui_chart","z":"e863b4e0.b9d5c","name":"","group":"2c8baf76.856208","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":1096,"y":363,"wires":[[],[]]},{"id":"a9a7cdfa.78c26","type":"ui_gauge","z":"e863b4e0.b9d5c","name":"","group":"2c8baf76.856208","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-10","max":"35","colors":["#050BBC","#00B500","#CA3838"],"seg1":"","seg2":"","x":1093,"y":443,"wires":[]},{"id":"f5db674.80b3918","type":"average-bars","z":"e863b4e0.b9d5c","name":"average-bars","title":"","period":"day","yMin":"auto","yMax":"auto","showBarsValue":true,"showScaleValue":true,"showLastValue":true,"showAverageValue":true,"showMinimumValue":true,"showMaximumValue":true,"maxBar":30,"topColor":"#FF0000","bottomColor":"#FFFF00","unit":"","fontColor":"#AAAAAA","barStyle":"Rectangle","decimal":1,"x":949,"y":498,"wires":[["3c54b8ac.00ecf"]]},{"id":"64cd2ae9.81a07c","type":"sum-bars","z":"e863b4e0.b9d5c","name":"sum-bars","title":"","period":"day","yMin":"auto","yMax":"auto","showBarsValue":true,"showScaleValue":true,"showSumValue":true,"maxBar":30,"topColor":"#FF0000","bottomColor":"#FFFF00","unit":"","fontColor":"#AAAAAA","barStyle":"Rectangle","decimal":1,"x":948,"y":537,"wires":[["3c54b8ac.00ecf"]]},{"id":"3c54b8ac.00ecf","type":"ui_chart","z":"e863b4e0.b9d5c","name":"","group":"91e377bd.b3ea28","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":1090,"y":497,"wires":[[],[]]},{"id":"5c95aa43.da1764","type":"ui_gauge","z":"e863b4e0.b9d5c","name":"","group":"91e377bd.b3ea28","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#CA3838","#00B500","#CA3838"],"seg1":"","seg2":"","x":1094,"y":576,"wires":[]},{"id":"181ae74.b68ae19","type":"mqtt-broker","z":"","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d5538aec.7b8e9","type":"ui_group","z":"","name":"Bodemvocht","tab":"ab900f78.fb4f1","order":2,"disp":true,"width":"6","collapse":false},{"id":"2c8baf76.856208","type":"ui_group","z":"","name":"Temperatuur","tab":"ab900f78.fb4f1","disp":true,"width":"6","collapse":false},{"id":"91e377bd.b3ea28","type":"ui_group","z":"","name":"Luchtvochtigheid","tab":"ab900f78.fb4f1","order":3,"disp":true,"width":"6","collapse":false},{"id":"ab900f78.fb4f1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
